{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
<body>


<p> UPDATE </p>
<ul  class="horizontal-list">
    <li> <a href="/"> Read </a></li>
    <li> <a href="/insert/"> Insert </a></li>
    <li> <a href="/update/"> Update </a></li>
    <li> <a href="/delete/"> Delete </a></li>

</ul>
<br>

<label>Name</label>
<input type="text"><br><br>
<lable>Topic</lable>
<input type="text">
<button>Update</button>
</body>
</html>
